# Config and Htaccess Files
/app/.htaccess
/app/.env

# Image File
!/app/image/no_image.jpg

# Image Cache Files
/app/image/cache/*
!/app/image/cache/index.html

# System Cache Files
/app/system/storage/cache/*
!/app/system/storage/cache/index.html

# Modification Files
/app/system/storage/modification/*
!/app/system/storage/modification/index.html

# Templates Files
/app/image/templates/*
/app/image/templates/default.jpg

# Download Files
/app/system/storage/download/*
!/app/system/storage/download/index.html

# Session Files
/app/system/storage/session/*
!/app/system/storage/session/index.html

# upload Files
/app/system/storage/upload/*
!/app/system/storage/upload/index.html

# Flags 
# remove sharp char if you want to add flags to gitignore
# /app/flags/*

# Log Files
/app/system/storage/logs/*
!/app/system/storage/logs/index.html

# If you want to ignore install file use following lines [on development mode]
# /app/backup.install/*
# /app/install/*

# Ignore all vendor files included by composer and the lock file
/tests/phpunit/vendor/*
/tests/phpunit/composer.lock
/app/vendor/*
/vendor/*

# Test Config File
/tests/phpunit/bootstrap.php

# IDE Project files
/.idea